
## **Top Selling Amazon Books (2009-2019)**

#### This dataset contains information about top selling books of Amazon(550 books) either belonging to fiction or non-fiction.

#### FEATURES:

**Name** - Name of the Book

**Author** - The author of the Book

**User Rating** - Amazon User Rating

**Reviews** - Number of written reviews on amazon

**Price** - The price of the book 

**Year** - The Year it ranked on the bestseller

**Genre** - Whether fiction or non-fiction

### 1. Importing Libraries:

In [1]:
import numpy as np 
import pandas as pd 
import sidetable as stb

### 2. Loading the Dataset:

In [2]:
df = pd.read_csv("files/bestsellers_with_categories.csv")
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

### 3. Exploratory Data Analysis:

In [3]:
# to get the size of our dataset

df.shape

(550, 7)

In [4]:
# to obtain the descriptive statistical parameters of all the variables

df.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,550,351,Publication Manual of the American Psychologic...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Author,550,248,Jeff Kinney,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
User Rating,550.0,NaN,NaN,NaN,4.618364,0.22698,3.3,4.5,4.7,4.8,4.9
Reviews,550.0,NaN,NaN,NaN,11953.281818,11731.132017,37.0,4058.0,8580.0,17253.25,87841.0
Price,550.0,NaN,NaN,NaN,13.1,10.842262,0.0,7.0,11.0,16.0,105.0
Year,550.0,NaN,NaN,NaN,2014.0,3.165156,2009.0,2011.0,2014.0,2017.0,2019.0
Genre,550,2,Non Fiction,310,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# to know the types of the columns

df.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [6]:
# to get the information about null values

df.stb.missing()

             missing  total  percent
Name               0    550      0.0
Author             0    550      0.0
User Rating        0    550      0.0
Reviews            0    550      0.0
Price              0    550      0.0
Year               0    550      0.0
Genre              0    550      0.0

In [7]:
# to know how many categories we work with in each column

df.nunique()

Name           351
Author         248
User Rating     14
Reviews        346
Price           40
Year            11
Genre            2
dtype: int64

In [8]:
# check if there are duplicates

df.duplicated(["Name", "Author"]).sum()

199

### 4. Data Cleaning:

In [9]:
# eliminate duplicates to keep a single register of each title

df.drop_duplicates(subset= ["Name", "Author"], inplace = True)

In [10]:
# rename the columns and make it easy to use

columnas = {col: col.replace(" ", "_").lower() for col in df.columns}
df.rename(columns = columnas, inplace=True)
df.head()

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [11]:
df.to_csv("datos/bestsellers1.csv", index=0)

OSError: Cannot save file into a non-existent directory: 'datos'